@import url('https://fonts.googleapis.com/css?family=Chivo|Open+Sans');

body{
	font-family: "Open Sans", Arial, sans-serif;
}

.navbar-brand{
	font-family: "Chivo", Arial, sans-serif;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
}

button{
	cursor: pointer;
}

.container{
	margin-top: 2em;
}