@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

.jumbotron img{
	width: 70%;
	margin-bottom: 1.5rem;
}

.progress{
	margin-bottom: 1em;
}

form{
	margin-top: 2em;
}

fieldset{
	margin: 1em 0;
}

legend{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1em;
	font-size: 1rem;
	font-weight: bold;
}

form li{
	list-style-type: circle;
}

header{
	display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.my-table{
	background: lightgray;
    padding: 30px 20px;
    border-radius: 5px;
}

.my-table .badge{
	font-size: 100%;
	margin-bottom: 10px;
}

.my-table .row > div{
	margin-bottom: 10px;
}

.my-table .row > div > *{
	display: block;
}

.my-table .my-header{
	padding: 5px 0;
	margin-top: 20px;
	font-weight: bold;
}

.my-header:first-child{
	margin-top: 0;
}

@media (max-width: 576px) {
	h1{
		font-size: 8vw;
	}

	header{
		flex-direction: column-reverse;
		margin-bottom: 1rem;
	}

	.nav{
		flex-direction: column;
    	text-align: center;
	}
}