.jumbotron img{
	width: 70%;
	margin-bottom: 1.5rem;
}

.progress{
	margin-bottom: 1em;
}

form{
	margin-top: 2em;
}

fieldset{
	margin: 1em 0;
}

legend{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1em;
	font-size: 1rem;
	font-weight: bold;
}

form li{
	list-style-type: circle;
}