.print > .page{
	page-break-after: auto;
	position: relative;
	font-family: Arial;
	font-size: 12pt;
	height: 295mm;
}

.print > .page.front{
	padding-right: 13mm;
	padding-left: 13mm;
	display: grid;
	grid-template-rows: 14mm 31mm 15mm 30mm 1fr 38mm;
}
.print > .page.back{
	padding: 13mm;
}

header{
	grid-row-start: 2;
}

header img{
	height: 100%;
}

.address{
	grid-row-start: 4;
	margin-left: 7mm;
	width: 100mm;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 8mm;
}

.address > *{
	display: block;
	margin: 0;
	padding: 0;
}

.content{
	margin-top: 10mm;
	grid-row-start: 5;
	text-align: justify;
	position: relative;
}

.entrance-ticket{
	position: absolute;
	bottom: 0;
}

hr{
	border-color: black;
}

.content.pull-up{
	grid-row: 4 / span 2;
}

.columns{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 13mm;
}

.columns > div{
	position: relative;
}

h3{
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 0;
}

img.bottle{
	position: absolute;
    bottom: 0;
    right: 0;
    height: 140px;
}

@media screen {
	
	body{
		width: 210mm;
		margin: 0 auto;
	}

	.print{
		border: 1px solid gray;
	}

	.page{
		border-bottom: 1px solid gray;
	}

	.front{
		background-image: url(../img/briefpapier.png);
		background-size: cover;
	}

}